In [9]:
import pandas as pd

In [10]:
pd.__version__

'2.2.3'

In [11]:
dictMeasures = {
    "age": [15, 18, 25, 25, 40, 55, 58, 60, 80],
    "height" : [160,162,165,168,172,174,174,174,176]
}

In [12]:
dfDictMeasures = pd.DataFrame(dictMeasures)
dfDictMeasures

   age  height
0   15     160
1   18     162
2   25     165
3   25     168
4   40     172
5   55     174
6   58     174
7   60     174
8   80     176

# Position calculation

## Mean

In [15]:
dfDictMeasuresMean = dfDictMeasures["age"].mean()
dfDictMeasuresMean

np.float64(41.77777777777778)

## Median

In [18]:
dfDictMeasuresMedian = dfDictMeasures["age"].median()
dfDictMeasuresMedian

np.float64(40.0)

## Mode

In [20]:
dfDictMeasuresMode = dfDictMeasures["age"].mode()
dfDictMeasuresMode

0    25
Name: age, dtype: int64

# Dispersion Measures

## Variance

In [21]:
dfDictMeasures.age.var()

np.float64(509.94444444444446)

## Standard Variation

In [23]:
dfDictMeasures.age.std()

np.float64(22.58194952709895)

## Variation rate

In [25]:
100 * dfDictMeasures.age.std()/dfDictMeasures.age.mean()

np.float64(54.05253876167302)

# Shape measures

## Simetric (skewness)

In [33]:
dfDictMeasures.skew()

age       0.368109
height   -0.598487
dtype: float64

In [35]:
dfDictMeasures.kurtosis()

age      -1.134446
height   -1.337264
dtype: float64

In [36]:
dfDictMeasures.age.describe()

count     9.000000
mean     41.777778
std      22.581950
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: age, dtype: float64

# Correlation

In [37]:
dfDictMeasures.corr(method='pearson')

             age    height
age     1.000000  0.931024
height  0.931024  1.000000

In [38]:
dfDictMeasures.corr(method='spearman')

             age    height
age     1.000000  0.978803
height  0.978803  1.000000

# Plotting